*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif
}

.marquee-container{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background: #18194b;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 4px;
}

marquee{
    overflow: hidden;
    white-space: nowrap;
    font-size: 24px;
}

html, body{
    scroll-behavior: smooth;
}

.navbar{
    width: 100%;
    height: 60px;
    background: #000235;
    display: flex;
    z-index: 999;
    max-width: 1600px;
    position: sticky;
    top: 0;

}

.navbar__container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 60px;
    padding: 0 30px;
}

.logo{
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-weight: 700;
}

.logo span{
    color: orangered;
}

.icon{
    background: linear-gradient(to bottom, aqua, #fff, orangered);
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.menu{
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0;
    font-family: sans-serif;
    align-items: center;
}

.item{
    display: flex;
    align-items: center;
    margin: 0 20px 0;
    padding: 0;
}

.link{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.link:hover{
    background: aqua;
    color: #000;
    text-decoration: none;
}

.btn{
    background: aqua;
    color: #000235;
    transition: .5s;
}

.btn:hover{
    margin-top: -5px;
}

/* Gradient overlay */

.gradient{
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    top: -100px;
    left: -100px;
    box-shadow: 2px 4px 10px 5px aqua;
}

.gradient-1{
    width: 300px;
    height: 300px;
    background-color: rgb(225, 0, 255);
    position: absolute;
    border-radius: 50%;
    filter: blur(130px);
    right: 0px;
    top: 300px;
    box-shadow: 2px 4px 10px 15px aqua;
    z-index: 999;
    overflow: hidden;
}

/* Responsive  */

@media screen and (max-width :960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 60px;
        max-width: 1300px;
        z-index: 1;
        width: 100%;
        padding: 0;
    }

    .menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        top: -1000px;
        position: absolute;
        opacity: 0;
        transition: all 0.5s ease;
        height: 60vh;
        z-index: -1;
        background: #131313;
    }

    .menu.active{
        top: 100%;
        z-index: 99;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        font-size: 1.5rem;
    }

    .logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background: #fff;
        transition: all 0.4s ease-in-out;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 25%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    /* The bar icon */
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translatey(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translatey(-8px) rotate(-45deg);
    }
}


#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 90vh;
    background: #000235;
    position: relative;
}

img{
    width: 90%;
    max-height: 90%;
}


/* MAIN CONTAINER  */

.main{
    width: 100%;
    height: 90vh;
    background: #000235;
    /* margin-top: -20px; */
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 4rem;

}

.main-image img{
    width: 100%;
    margin-top: 10rem;
}

.main-content{
    margin-top: 15em;
}

.main-content h1{
    color: #fff;
    font-family: sans-serif;
    font-size: 70px;
    font-weight: 800;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Playball', cursive;

}

.main-content p{
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
}


.btns{
    margin-top: 3rem;
    padding: 0%;
    padding: 0;
}

.join-btn, .explore-btn{
    padding: 10px 30px;
    margin: 0;
    font-size: 17px;
    border-radius: 50px;
    outline: none;
    background: #aa07d3;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
    border: 1px solid #aa07d3;
}

.join-btn{
    background: transparent;
    margin-left: 10px;
}

.button a{
    text-decoration: none;
    color: #fff;
}

.join-btn:hover{
   background: #aa07d3;
}

.explore-btn:hover{
    background: transparent;
}

/* Responsive onthe main  */
@media screen and (max-width: 660px) {
    .main{
        max-width: 100%; 
        height: 100vh;
    }

    .main__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        background: #000235;

    }
    
    .main-image img{
        max-width: 100%;
        max-height: 100%;
        margin-top: 3rem;
        justify-content: center;
    }
    
    .main-content{
        margin-top: 3em;
    }

    .main-content h1{
        color: #fff;
        font-family: sans-serif;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        font-family: 'Kaushan Script', cursive;
        font-family: 'Playball', cursive;
    
    }
    
    .main-content p{
        text-align: center;
        color: #fff;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 1.5rem;
    }

    .btns{
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }

    .join-btn, .explore-btn{
        font-size: 16px;
        padding: 7px 14px;
    }
    
}

/* Space section  */

.space{
    width: 100%;
    height: 100vh;
    background: #000235;
    display: flex;
    justify-content: center;
}


.links-container{
    background: #1a1010a9;
    width: 90%;
    height: 60px;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 3.3rem;
    position: absolute;
}

.inner-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    list-style: none;
}

.inner-link{
    color: #fff;
    text-decoration: none;
}

/* Space container  */

.space-container{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    padding-top: 0;
}

.space-content{
    margin-top: 3rem;
}

.space-content h1{
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}

.space-content P{
    color: #fff;
    margin: 2rem 0;
    margin-bottom: 0;
}

.read-more-btn{
    padding: 10px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 0;
    background: orangered;
    color: #fff;
}

.testmonial-section{
    width: 100%;
    height: 100vh;
    background: #000235;
}

.title{
    text-align: center;
}

.title h2{
    color: #808080;
}

.title h1{
    color: #fff;
    font-size: 50px;
}

.card-container {
    display: flex;
    padding: 3rem;
}

.card{
    max-width: 300px;
    height: 300px;
    background: #808080;
}